# Ignore virtual environment
.venv/
env/
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore uploaded files
uploads/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/project files
.vscode/
.idea/

# Ignore logs
*.log
